<div class="d-flex flex-row-reverse mt-5">
  <button type="button" class="btn btn-primary btn-lg">
    <i class="bi bi-plus-lg text-white"><span class="mx-1" [routerLink]="['/add']" >Novo</span></i>
  </button>
</div>
<div *ngIf="!loading">
  <table class="table table-striped mt-1">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data.data">
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td class="text-end">
          <a [routerLink]="['/user', item.id]" class="icon-link icon-link-hover cursor">
            <i class="bi bi-person-fill mx-3 h3" ></i>
          </a>
          <a [routerLink]="['/edit', item.id]" class="icon-link icon-link-hover cursor">
            <i class="bi bi-pencil-square mx-3 h3"></i>
          </a>
          <a class="icon-link icon-link-hover cursor" (click)="deleteUser(item.id)">
            <i class="bi bi-x-lg mx-3 h3 text-danger"></i>
          </a> 
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <nav aria-label="...">
      <ul class="pagination pagination-lg">
        <li 
            class="page-item" 
            aria-current="page" 
            *ngFor="let n of pages; index as i" 
            [class.active]="i === page"
            (click)="selectPage(i)"
            >
            <a class="page-link cursor">
              {{i + 1}}
            </a> 
        </li>
      </ul>
    </nav>
  </div>
</div>



